* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #ffffff;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

#back {
    margin: 71px auto 0 16px;
}

main {
    margin: 82px auto auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-weight: 400;
    font-size: 29px;
    line-height: 44px;
    text-align: center;
    letter-spacing: 0.0025em;
}


main p {
    margin-top: 4px;
    margin-bottom: 16px;
    font-weight: 300;
    font-size: 13px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.005em;
    color: #04040480;
}

#selections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.selectors {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    background: #E0E0E0;
    border-radius: 10px;
    margin-bottom: 50px;
    text-decoration: none;
}

.image {
    width: 99px;
    height: 92px;
    margin: 12px 34px 12px 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #5BC0C3;
    border-radius: 5px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #040404;
}

div p {
    padding: 0;
    margin: 0;
    font-weight: 300;
    font-size: 13px;
    line-height: 32px;
    text-align: start;
    letter-spacing: 0.005em;
    color: #040404;

}

@media only screen and (max-width: 428px) {
    body {
      background: #ffffff;
      font-family: "Poppins", sans-serif;
      max-height: 926px;
    }

    #back {
        margin: 71px auto 0px 16px;
    }
    
    main {
        margin: 82px 16px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    h2 {
        font-weight: 400;
        font-size: 29px;
        line-height: 44px;
        text-align: center;
        letter-spacing: 0.0025em;
    }
    
    .sub {
        margin-top: 4px;
        margin-bottom: 16px;
        font-weight: 300;
        font-size: 13px;
        line-height: 32px;
        text-align: center;
        letter-spacing: 0.005em;
        color: #04040480;
    }
    
    #selections {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .selectors {
        width: 396px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        background: #E0E0E0;
        border-radius: 10px;
        margin-bottom: 50px;
    }
    
    .image {
        width: 99px;
        height: 92px;
        margin: 12px 34px 12px 11px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #5BC0C3;
        border-radius: 5px;
    }
    
    
    h3 {
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        color: #040404;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    
    div p {
        padding: 0;
        margin: 0;
        font-weight: 300;
        font-size: 13px;
        line-height: 32px;
        text-align: start;
        letter-spacing: 0.005em;
        color: #040404;   
    }
}