* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  width: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

#back {
  margin-top: 61px;
  margin-left: 16px;
}

.back {
  align-self: flex-start;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  margin: 82px auto auto;
  font-weight: 400;
  font-size: 29px;
  line-height: 44px;
  text-align: center;
  letter-spacing: 0.0025em;
}

main p {
  margin-top: 4px;
  margin-bottom: 16px;
  font-weight: 300;
  font-size: 13px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.005em;
  color: #04040480;
}

#selections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 16px 0;
}

.selectors {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background: #e0e0e0;
  border-radius: 10px;
  margin-bottom: 50px;
  text-decoration: none;
}

.image {
  width: 99px;
  min-width: 99px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #5BC0C3;
  border-radius: 5px;
  margin: 12px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
}

h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #040404;
}

div p {
  padding: 0;
  margin: 0;
  font-weight: 300;
  font-size: 13px;
  line-height: 32px;
  text-align: start;
  letter-spacing: 0.005em;
  color: #040404;
}

.reg {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c7ebe1;
  width: 100%;
  padding: 20px;
}

.reg a{
  color: #000;
  text-decoration: none;
  
}
 
.reg p {
  font-size: 14px;
}

.reg p>span {
  color: #aca8a8;
}

/* @media screen and (max-width: 428px) {
  body {
    font-family: "Poppins", sans-serif;
    max-height: 926px;
    min-width: 300px;
  }

  h2 {
    font-weight: 400;
    font-size: 29px;
    line-height: 44px;
    text-align: center;
    letter-spacing: 0.0025em;
  }

  #selections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .selectors {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: #e0e0e0;
    border-radius: 10px;
    margin-bottom: 50px;
  }

  h3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #040404;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  div p {
    padding: 0;
    margin: 0;
    font-weight: 300;
    font-size: 13px;
    line-height: 32px;
    text-align: start;
    letter-spacing: 0.005em;
    color: #040404;
  }
} */
