@import url(./signin.css);

.container {
  margin-top: 2rem;
}

header {
  width: 100%;
  position: relative;
  margin-bottom: 3.5rem;
}

header img {
  position: absolute;
  left: 0;
  top: 5px;
}

header p:first-of-type {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0;
}

section {
  width: 25rem;
}

section p {
  margin: 0;
  padding: 0 1rem;
}

form {
  margin-top: 4.2rem;
}

div {
  margin-bottom: 4.2rem;
}

input {
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid #52ab98;
  padding: 1rem;
  outline: none;
}

input:focus {
  border: none;
  border-bottom: 2px solid #52ab98;
}

input[type="button"] {
  text-transform: capitalize;
}

.verify {
  margin-bottom: 4.6rem;
}

.code {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

#number {
  width: 4.9rem;
}