* {
  font-family: "Poppins" , sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
}

.flex {
  display: flex;
  align-items: center;
}

.container {
  flex-direction: column;
  justify-content:flex-start;
  width: 100vw;
  max-width: 42.5rem;
  min-width: 30rem;
  margin: 0 auto;
  background-color: #d9d9d966;
  position: relative;
  overflow: hidden;
}

nav {
  justify-content: space-between;
  background-color: inherit;
  color: #fff;
  width: 100%;
  background-color: #2b6777;
}

nav img[alt=search-icon] {
  margin-left: 3rem;
}

label {
  cursor: pointer;
}

input {
  display: none;
}

nav img[alt=profile-pic] {
  margin-right: 3rem;
}

.form {
  font-weight: 600;
}

.form span {
  margin-right: 0.7rem;
}

.form img,
a img[alt=search-icon] {
  vertical-align: middle;
}

img[alt=add-icon] {
  position: absolute;
  bottom: 3rem;
  right: 2rem;
  z-index: 1;
}

.frame {
  transform: translateX(100%);
  width: 100%;
  transition: all 0.6s ease;
}

input:checked ~ .frame {
  transform: translateX(0%);
}

.frame a {
  display: block;
}

.inside {
  width: 70%;
  background-color: #193d46;
}

.inside>img {
  padding: 4rem 0 1.5rem 4rem;
}

hr {
  margin: 0;
  border: none;
  border-bottom: 1px solid #fff;
}

.create,
.link {
  text-transform: uppercase;
}

.link {
  color: #aad6cd;
  padding: 3rem;
}

.create {
  border: 1px solid transparent;
  margin: 4rem;
  padding: 1rem;
  text-align: center;
  background-color: #64b4a3;
  border-radius: 0.6rem;
  transition: all 0.6s ease;
}

.create:hover,
.create:active {
  background-color: #64b464;
}

.saves {
  display: flex;
  gap: 3rem;
  flex-direction: column;
  padding: 10rem 0 5rem 2rem;
}

.saves a {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.saves img {
  vertical-align: middle;
}

p {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
}

.reg {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c7ebe1;
  width: 100%;
}

.reg a{
  color: #000;
}
 
.reg p {
  font-size: 1.4rem;
}

.reg p>span {
  color: #aca8a8;
}