* {
  font-family: "Poppins" , sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background-color: #2b6777;
}

.flex {
  display: flex;
  align-items: center;
}

.container {
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  max-width: 42.5rem;
  min-width: 30rem;
  margin: auto;
  background-color: #2b6777;
}

nav {
  justify-content: space-between;
  background-color: inherit;
  color: #fff;
  width: 100%;
}

.form {
  font-weight: 700;
}

.form span {
  margin-right: 0.5rem;
}

.form img {
  vertical-align: middle;
}

.frame {
  width: 100%;
  height: 90vh;
  background-color: #fff;
  position: relative;
}

.frame .form {
  margin-left: 2.2rem;
  justify-content: flex-start;
  font-weight: 400;
}

.frame .home{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate (-50%, -50%);
  margin: auto;
}

.signup {
  width: 100%;
  padding-bottom: 2rem;
  background-color: inherit;
  justify-content: space-evenly;
}

.signup p {
  font-weight: 700;
  text-transform: uppercase;
}

p {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
}

