*{
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background-color: #2b6777;
}

.main{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  max-width: 42rem;
  min-width: 30rem;
  margin: auto;
  text-align: center;
}

.icons {
  width: 100%;
  max-width: 42rem;
  min-width: 30rem;
  height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#img1{
  position: absolute;
  top:0;
  left:0;
}
#img2{
  position: absolute;
  bottom: 0;
  right: 1rem;
}

.circle1{
  height: 35rem;
  width: 36rem;
  background-color: rgba(217,217,217,0.3);
  border-radius: 50%;
}
.circle2{
  width: 29rem;
  height: 28rem;
  background-color: rgba(217,217,217,0.5);
}

.circle3{
  height: 25rem;
  width: 27rem;
  background-color: rgba(217,217,217,0.5);
}
.circle4 {
  position: relative;
  height: 21rem;
  width: 23rem;
  background-color: #f3ecec;
}

.dot {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

#img3{
  position: absolute;
  left: 30px;
}

#img4{
  position: absolute;
  right:30px
}

#img5 {
  position: absolute;
  z-index: 1;
}

.comment-img {
  position: relative;
  z-index: 2;
}

footer{
    margin-left: 40%;
    margin-top: 10%;
    justify-content: last baseline;
    align-items: baseline;
}
.coloured{
  color: rgb(22, 73, 22);
}

.text p:first-of-type {
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 0.8rem;
}

.text p:nth-of-type(2) {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 0;
}

p {
  color: #fff;
}

p span {
  color: #52ab98;
}