*{
margin: 0;
padding: 0;
box-sizing: border-box;
    
}
body{
    /* width: 100%; */
    font-family: 'Poppins', sans-serif;
    background: rgba(12, 29, 34, 1);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* width: 428px; */
    /* height: 926px; */
    margin: auto;
  }

.container {
  width: 60%;
  margin: auto;
}

  .previous-button{
    width: 90%;
    margin-bottom: 80px;
  }

   .previous {
    float: left;
    margin-top: 65px;
    /* margin-left: 10%; */
    margin-bottom: 40px;
  }
  .control{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: rgba(117, 188, 173, 1); 
    padding: 10px 0;
  }
  
a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    padding: 15px 35px 15px;    
}

#nav-1{
    font-weight: 400;
    font-size: 12px;
  }

  #nav-2{
    font-weight: 400;
    font-size: 12px;
  }
  #nav-3{
    background: rgba(188, 222, 215, 0.5);
    font-weight: 400;
    font-size: 12px;
  }

  .section{
    border: 1;
    border-bottom: 1px solid  rgba(188, 222, 215, 1);
    display: flex;
    margin: auto;
    padding: 0;
    background-color: inherit;
  }

  .section:hover,
  .section:active {
    color: #75bcad;
  }

  #section img{
  margin-left: 20px;
  }
  
  h3{
    font-weight: 500;
    font-size: 16px;
  }
  p{
    font-weight: 400;
    font-size: 12px;
  }
  .text{
    margin-bottom: 15px;
    margin-top: 19px;
    margin-right: 175px;
    margin-left: 12px;
  }
  
  button{
    border-radius: 8px;
    width: 147px;
    height: 8px;
  }

  @media screen and (max-width: 428px) {
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 428px;
        /* height: 926px; */
       
      }
      h3{
        font-weight: 500;
        font-size: 14px;
        color: rgba(255, 255, 255, 1);
      }
      p{
        font-weight: 400;
        font-size: 8px;
        color: rgba(255, 255, 255, 1);
      }

      a {
        text-decoration: none;
        color: rgba(255, 255, 255, 1);
        background: rgba(117, 188, 173, 1); 
        padding: 15px 40px 15px;
        
    }
    
}