@import url(./signin.css);

input[type=number] {
  width: 100%;
  border-radius: 0.6rem;
  border: 1px solid #52AB98;
  padding: 1.2rem 1.6rem;
  outline: none;
}

input[type=number]:focus {
  border: none;
  border-bottom: 2px solid #52AB98;
  background-color: #52ab982d;
}

input[type=checkbox] {
  margin-top: 0.5rem;
  border: 1px solid #52AB98;
}

.check {
  display: flex;
  align-items: flex-start;
  gap: 1.4rem;
  color: #52AB98;
}

.checklab {
  font-size: 1.4rem;
  line-height: 2.2rem;
  letter-spacing: 0.02rem;
  width: 75%
}

.signup img {
  position: absolute;
  right: 1rem;
  width: 2rem;
  font-size: 2rem;
  color: #52AB98;
}

.terms {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .check {
  display: inline;
  letter-spacing: 0;
  color: #000;
  font-size: 1.4rem;
  margin-left: 1rem;
} */

.disappear {
  display: none;
}
