* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
}

.container {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 85%;
  max-width: 42rem;
  min-width: 30rem;
  margin: auto;
}

.greet {
  width: 100%;
  text-align: center;
}

.greeting {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 12rem;
  background-color: #52ab98 ;
  border-radius: 0 0 50% 50%;
}

.greet h1 {
  color: #fff;
  font-size: 3.1rem;
  font-weight: 700;
}

article .title {
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.title span {
  color: #52AB98;
}

p:nth-of-type(2) {
  font-size: 1.3rem;
  margin-top: 0;
  letter-spacing: 0.05rem;
  color: #040404;
}

form {
  margin-top: 8.6rem;
  width: 100%;
}

div {
  text-align: left;
  margin-bottom: 2rem;
}

label {
  display: block;
  font-size: 1.7rem;
  color: #52AB98;
  letter-spacing: 0.15rem;
}

input[type=text],
input[type=password] {
  width: 100%;
  border-radius: 0.6rem;
  border: 1px solid #52AB98;
  padding: 1rem;
  outline: none;
}

input[type=text]:focus,
input[type=password]:focus {
  border: 2px solid #52AB98;
}

div a {
  display: block;
  text-align: right;
}

input[type="button"] {
  display: block;
  margin: 0 auto;
  width: 80%;
  border-radius: 8rem;
  background-color: #52AB98;
  text-transform: uppercase;
  padding: 1.5rem;
  color: #fff;
  border: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.4rem;
}
a {
  text-decoration: none;
  color: #52AB98;
} 

a,
p:last-of-type {
  font-size: 1.3rem;
  letter-spacing: 0.05rem;
  line-height: 3.2rem;
}

.usericon {
  background: url(../Images/tick.svg) no-repeat 95%;
  background-size: 2rem;
}

.passicon {
  background: url(../Images/eye.svg) no-repeat 95%;
  background-size: 2rem;
}
