* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
  }
  
  body {
    background: #ffffff;
    font-family: "Poppins", sans-serif;
  }
  
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  img {
    margin-top: 80px;
    align-items: center;
  }
  
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h2 {
    font-size: 52px;
    line-height: 46px;
    font-weight: 600;
    margin-top: 70px;
    margin-bottom: 56px;
  }
  
  p {
    width: 600px;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: #333333;
  }
  
    
    .last {
      width: 80%;
      margin-top: 150px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      
    }
  
    .toggle {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      color: #000000;
    }
  
    .dot {
      height: 15px;
      width: 15px;
      background-color: #bbb;
      border-radius: 50%;
    }
    a {
      text-decoration: none;
      color: #000000;
    }
    .b {
      margin: 0 10px;
    }
  
    .c {
      background: #52AB98;
    }
  
  
  
  @media only screen and (max-width: 428px) {
    body {
      background: #ffffff;
      font-family: "Poppins", sans-serif;
      height: 926px;
      
    }
  
    
    main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    img {
      margin: 140px 64px auto 64px;
      justify-content: center;
      align-items: center;
    }
  
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    h2 {
      margin-top: 73px;
      font-size: 31px;
      font-style: normal;
      font-weight: 600;
      margin-bottom: 56px;
      color: #333333;
    }
  
    p {
      width: 386px;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      text-align: center;
      color: #333333;
    }
  
    .last {
      margin: 102px 40px auto 40px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      
    }
  
    .toggle {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      color: #000000;
    }
  
  
    .dot {
      height: 10px;
      width: 25px;
      background-color: #bbbbbb;
      border-radius: 50%;
  
    }
  
    a {
      text-decoration: none;
      color: #000000;
    }
  
    .b {
      margin: 0 8px;
    }
  
    .c {
      background: #52AB98;
    }
  
  }
  
  